*{
    margin: 0px;
    padding: 0px;
    
}
.header-container{
    width: 100%;
    height: 1000px;
    background-image:linear-gradient(to right,#0f0715,#0f0715, #0f0715,#0f0715,   #281644) ;
    color: white;
}
.logo{
    display: flex;
    align-items: center;
}
.nav-link{
    display: flex;
    align-items: center;

}
.nav-link>li{
    list-style: none;
    text-transform: capitalize;
    font-size: 20px;
    margin-left: 20px;
}
.nav-link a{
    text-decoration: none;
    margin-right: 10px;
    color: white;
    
}
.nav-container{
    width: 90%;
    display: flex;
    justify-content: space-between;
    height: 150px;
    align-items: center;
}
.nav-button{
    padding: 10px 40px ;
    border-radius: 30px;
    background-color: #51239c;
    font-weight: bolder;
    color: white;
    border: none;
    margin-left: 10px;
}
.text-section{
    width: 50%;
    height: 300px;
    padding: 30px;
    margin-left: 20px;
}
.section-button{
    margin-top: 20px;
    font-size: 20px;
    border-radius: 20px;
    border-color: blueviolet;
    color: blueviolet;
    

}
.banner-container{
    width: 90%;
    margin: auto;
    height: 600px;
    display: flex;
    justify-content: space-between;


}
.img-section{
    width: 30%;
}
.banner-button{
    padding: 15px 40px;
    font-size: 16px;
    border: none;
    border-radius: 50px;
    margin-right: 20px;
    background-color: #281644;
    color: white;
    cursor: pointer;
    font-weight: bolder;
}
.banner-button:hover{
    background-color: dodgerblue;
    border: 2px solid navy;
    color: #281644;
}
.banner-icon{
    font-size: 25px;
    color: #421689;
    margin-right: 5px;
    padding: 7px 10px;
    border-radius: 50%;
}
.banner-icon:hover{
    border: 2px solid blueviolet;
    background-color: ;
    color: white;
    transition: all 0.3s ease-in;
}
.banner-image{
    width: 80%;
    height: 350px;
    border: 3px solid rgba(7, 7, 155, 0.068);
    background-color: #190a25;
    transform: rotateZ(3deg);

}
.banner-image:hover{
    transform: rotateZ(-3deg);
    transition: all 0.5s ease-in;
    border: 1px solid lightskyblue;
    box-shadow: 2px 2px 5px lightskyblue;
    border-radius: 20px;
}
.experience-container{
    width: 90%;
    margin: auto;
    height: 200px;
    justify-content: space-around;
    display: flex;

}
.experience-elements{
    width: 150px;
font-size: 12px;
color: gainsboro;
}
.experience-number{
    font-size: 50px;
    font-weight: bolder;
}

 /* main section started here  */
.quality-section{
    background-color: black;
    height: 1000px;
    color: white;
}
.quality-text{
text-align: center;
padding: 100px 300px;

}
.quality-text>h1{
    font-size: 50px;
    margin-bottom: 30px;
    text-transform: capitalize;
    background: -webkit-linear-gradient(#8e5af8,#8e5af8,#8e5af8,#ebe1fd);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.quality-service{
    width: 90%;
    margin: auto;
    height: 200px;
    display: flex;
    justify-content: space-between;
    /* border: 3px solid red; */
    border-bottom: 1px solid blue;
}
.quality-service:hover{
    background-color: #8e5af8;
    color: white;
    transition: all 0.5s ease-in;
    border-radius: 30px;
}
.quality-box-1{
    width: 30%;
display: flex;
justify-content:space-around;
align-items: center;                                     
}
.quality-box-1 h1{
    font-size: 40px;
    color: rgb(255, 255, 255);
    margin-right: 10px;

}
.quality-box-2{
    width: 50%;
display: flex;
justify-content: center;
align-items: center;
padding: 0px 40px;
color: gainsboro;                                     
}
.quality-box-3{
    width: 20%;
display: flex;
justify-content: end; 
   align-items: center; 
   font-size: 80px;
   font-weight: 400;
   color: white;
   transform: rotateZ(45deg);                               
}
.quality-box-3:hover{
    color: rgb(11,255,206);
    transform: rotateZ(-45deg);
    transition: all 0.5s ease-in;
}

/* qualitu service section closed here */

.work-title-section{
    width: 100%;
    height: 200px;
    background-color: black;
    color: white;
    text-align: center;

}

.work-title-section>h1{
    font-size: 50px;
    text-transform: capitalize;
    background: -webkit-linear-gradient(#8e5af8,#8e5af8,#8e5af8,#ebe1fd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.work-button{
    margin-right: 20px;
    padding: 10px 30px;
    margin-top: 40px;
    background: transparent;
    color: #8e5af8;
    font-weight: bolder;
    font-size: 14px;

}
.work-button:hover{
    background-color: #35008b;
    transition: all 0.3s ease-in;
    border: 50%;
    color: white;
    cursor: pointer;
}
.work-box-bg{
    background-color: black;
    /* height: 600px; */
}
.work-box-container{
    width: 90%;
    margin: 50px auto;
    background-image: linear-gradient(to right,black,black, rgb(32,32,128),rgb(26,26,128),rgb(32,32,128),black,black);
    /* height: 500px; */
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
}
.box{
    width: 500px;
    height: 500px;
    border: 3px solid tomato;
    border-radius: 20px;
    background-color: #171717;
    color: white;
    padding: 10px;
}
.box-text{
    padding: 60px 20px 5px 20px;
    text-align: justify;
    font-size: 20px;

}
/* experience container style started here */
.experience-container{
    width: 100%;
    height: 900px;
    margin: auto;
    background-color: black;
    display: flex;
    justify-content: space-between;
}
.experience-boxes,.education-boxes{
    width: 100%;
    height: 150px;
    border-radius: 30px;
    background-color: #230f34;
    margin-bottom: 20px;
    align-items: center;
    padding: 20px;
    position: relative;
    top: -300px;
    

}
.experience-boxes>h2{
    font-size: 20px;
    color: #8e5af8;
}
.education-boxes>h2{
    font-size: 20px;
    color: #8e5af8;
}
.experience-boxes>h1{
    font-size: 30px;
    margin: 8px;
}
.education-boxes>h1{
    font-size: 30px;
    margin: 8px;
}
.experience-boxes,.education-boxes>h4{
    font-size: 20px;
}
.experience-section,.education-section{
    width: 45%;
    /* background-color: #230f34; */
    height: 600px;
    /* border: 3px solid tomato; */
    position: relative;
    top: 100px;
    color: white;
    margin: auto;
    


}
.experience-boxes:hover{
    background-color: #8e5af8;
}
.education-boxes:hover{
    background-color: #8e5af8;
}
/* skill section */
.section-container{
    width: 100%;
    height: 500px;
    background-color: #190a25;

    
}
.container-div{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    

}
.div-box{
    height: 100px;
    width: 100px;
    background-color:#230f34;
    color: white;
    border-radius: 10px;
    padding: 20px;
    align-items: center;
    margin: auto;
    
}
.icon{
    font-size: 40px;
}

.div-box:hover{
    background-color: #421689;
    
}
.skill-container{
    width: 100px;
    height: 200px;
    background-color: #190a25;
    color:#421689;
    text-align: center;
    font-size: 12px;
    
}

.from-container{
    display: flex;
    background-color: black;
    color: white;
    width: 100%;
    height: auto;
    align-items: center;
    gap: 40px;
}
.from-section{
    width: 60%;
    height: auto;
    background-color:#190a25 ;
    padding: 40px;
}
.input-container{
    display: flex;
    gap: 20px;
}
input-container input{
    width: 250px;
    height: 40px;
    padding: 20px;
    background-color: black;
    margin-top: 10px;
    font-size: 15px;
    color: ghostwhite;
    font-weight: bolder;
    border-radius: 10px;
    border: 1px solid rgb(77, 22, 2);

}
.select{
    margin: 30px 0px;
    width: 100%;
    height: 50px;
    font-size: 20px;
    font-weight: bolder;
    background-color: rgb(22,1, 37);
    color: white;
    border-radius: 10px;
    

}
textarea{
    width: 100%;
    background-color: black;
    color: gainsboro;
    font-size: 5px;
    padding: 20px;
}
.form-button{
    margin: 20px;
    padding: 15px 45px;
    font-size: 16px;
    border-radius: 50px;
    font-weight: bold;
    background-color: #421689;
    color: white;
    border: none;
    cursor: pointer;
}
.form-text{
    width: 40%;
    height: auto;
    padding: 40px;
}
.text-box{
    margin-top: 40px;
}
.text-box>h4{
    color: grey;
    margin: 5px 0px;
}